/* <!-- This whole project is made by Aniket Biswas | LinkedIn - https://www.linkedin.com/in/thesmartaniket -->
<!-- mobile_v.css -->
<!-- version: V.0.4 -->
<!-- includes mobile device support --> */
/* css for mobile view */

/* list properties */
.mobile-menu{
    list-style: none;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: space-around;
    background-color: #F8F5E4;
    border-radius: 5px;
    display: none;
    position: relative;
    left: 0;
    height: calc(100vh - 50px);
    margin-top: 15px;
}
  
/* list items containing <a></a> */
.mm_link {
    color: black;
    text-decoration: none;
    font-size: larger;
}

  /* list items containing <li></li> */
.mm_li{
    padding: 8px;
    background-color: #F9DBBB;
    border-radius: 8px;
    width: 80%;
    text-align: center;
}
  
/* hover properties on list-items */
.mm_li:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #F7C04A;
}

/* icon properties */
#hamburger-icon{
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div{
    width: 35px;
    height: 3px;
    background-color: #F7C04A;
    margin: 6px 0;
    transition: 0.5s;
}

/* bar transition properties */
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2{
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

/* menu view on mobile when open*/
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* list in mobile menu */
.mobile-menu li {
    margin-bottom: 10px;
}

/* when to switch between mobile and desktop view */
@media only screen and (max-width: 700px){
    header nav{
        display: none;
    }

    #hamburger-icon {
    display: block;
    }

    .dropbtn {
        background-color: rgb(252, 201, 140);
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        margin-bottom: 5px;
        margin-top: 5px;
    }     

    .link_l{
        display: block; 
        width: 300px; 
        height: 25px;
    }
}