/* <!-- This whole project is made by Aniket Biswas | LinkedIn - https://www.linkedin.com/in/thesmartaniket -->
<!-- popup.css -->
<!-- version: V.0.4 -->
<!-- includes mobile device support --> */
/* css for popup */

#mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #26262c;
    display: flex;
  }  

#boxes .window {
    position: fixed;
    left: 0;
    top: 0;
    width: 450px;
    height: 850px;
    display: none;
    z-index: 9999;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#boxes #dialog {
    width: 450px; 
    height: auto;
    padding: 10px 10px 10px 10px;
    background-color:#ffffff;
    font-size: 15pt;
  }
  
  .agree:hover{
    background-color: #D1D1D1;
  }

  .popupoption:hover{
   background-color: #D1D1D1;
   color: green;
  }

  .popupoption2:hover{
   color: red;
  }